.btn-darkmode-ativo{
    border: none;
    padding: 5px 8px;
    border-radius: 3px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
}

.botoes-repositorio-light{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.521);
}

.body-light{
    /* background:linear-gradient(119.66deg, rgba(84, 132, 165, 0.58) -82.41%, #546CA5 9.32%, #26335E 43.38%, #131C41 67.55%, #000424 101.96%)
    no-repeat center center fixed; */
    background: #546CA5;
}
.resumo-light{
    height: 700px;
    margin-top: -100px;
    padding-top: 160px;
    height: 100vh;
}

.linguagens-titulo-light{
    color: #000424;
}
.linguagens-container-light{
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 0;
    height: 100vh;

}
.topicos-light{
    background-color: #f2f2f2;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(197, 197, 197, 0.397);


}

.topicos-light:hover{
    border: 1px solid #546ca549;
    /* border: 1px solid rgba(158, 158, 158, 0.397); */
}

.projetos-light{
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.295);
}

.projetos-titulo-light{
    color: #000424;
}

.rodape-light{
    background-color: #f2f2f2;
    margin-top: 0;
}
.rodape-light h2{
    color: #000424;
}
.rodape-light a{
    color: #000424;
}

