@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green1 :#45C09C;
    --green2 :#0CC08B;
    --green3 :#328B71;
    --green4 :#077454;
    --green5 :#04412F;

    --blue :#000424;

    --white:#f2f2f7;   
}

/* Sessao 1  - Cabeçalho*/
.cabecalho{
    color: var(--white);
    font-family: Montserrat;

    display: flex;
    flex-direction: column;
    
    height: 680px;
    width: 100%;
    /* background: linear-gradient(122.19deg, rgba(84, 108, 165, 0.58) -84.43%, #546CA5 -17.84%, rgba(0, 4, 36, 0.92) 76.27%, #000424 116.5%); */
    background: linear-gradient(122.19deg, rgba(84, 108, 165, 0.58) -84.43%, #546CA5 -15.36%, #000424 88.24%, #000424 116.5%);
}

.cabacelho-img {
    z-index: -1;
    position: absolute;

    width: 100%;
    margin: 0;
    height: 720px;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    height: 100px;
    padding: 20px 40px;
}

.menu h1 {
    font-size: 25px;
    font-weight: 300;
    margin-left: 40px;
}

.menu-navegacao {
    display: flex;
    align-items: baseline;
    flex-direction: row;    

    margin-right: 40px;
}

.menu-navegacao-link{
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
    
    margin: 0px 20px 0px 20px;
    transition: 200ms;

}

.menu-navegacao-link:hover {
    scale: 1.05;
    transition: 200ms;
    text-decoration: underline;
} 

/* Sessão 1 - Resumo */
.cabecalho-container {
    display: flex;
    align-items: center;
    flex-direction: row;

    height: 60%;
    padding: 0px 40px;
}

.resumo{
    display: flex;
    flex-direction: column;

    text-align: left;
    font-family: Montserrat;
    
    width: 50%;
    height: 100%;
    padding: 20px 40px;
}

.resumo-titulo{
    font-size: 25px;
    font-weight: 500;

    margin-top: 40px;
}

.resumo-texto{
    font-size: 16px;
    font-weight: 200;
    font-family: Poppins;

    width: 30vw;
    height: 150px;

    padding: 30px 0px;
    margin-bottom: 20px;
    line-height: 25px;
}

.resumo-botoes{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.resumo-botao-repositorio{
    width: 15vw;
    height: 40px;

    margin: 55px 20px 0px 0px;
    padding: 4px;

    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items:center ;

    border-radius: 40px;
    box-shadow: 3px 3px 20px black;
    background-color: var(--white);

    font-size: 18px;
    font-weight: 500;
    font-family: Montserrat;
    
    transition: 400ms;
}

.resumo-botao-repositorio:hover{
    scale: 1.05;
    color: var(--white);
    border: 1px solid #f7f7f7;
    background: transparent;
    transition: 400ms;
}

.resumo-botao-repositorio img{
    width: 30px;
    height: 30px;
}


.resumo-botao-repositorio h2{
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

/* Sessão 1 - Slide Show */
.conteiner-slide{
    width: 40vw;
    height: 45vh;
    margin: 20vh auto;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 20px 30px black;
    border-radius: 10px;
}

.conteiner-itens {
    width: 40vw;
    height: 45vh;

    display: flex;
    position: absolute;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}


.item {
    width: 40vw;
    height: 45vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img {
    width: 40vw;
    height: 45vh;
    border-radius: 10px;
}

.botao-mover{
    width: 50px;

    font: bold 30px sans-serif;
    color: #f7f7f78a;
    align-items: center;

    display: flex;
    justify-content: center;

    user-select: none;
    z-index: 1;
}

.botao-mover:hover {
    color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    transition:  all 1s;

    border-radius: 10px;
    background-color: #f2f2f28c;
}

.slides{
    width: 50%;
    height: 80%;

    display: flex;
    align-items: center;
    flex-direction: row;
}


/* SESSÃO 2 - Linguagens e Frameworks */
.linguagens {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: Montserrat;

    height: 680px;
    background-color: var(--white);
}

.linguagens h2 {
    font-size: 40px;
    font-weight: 400;

    color: var(--blue);
    text-align: center;
    text-decoration: underline;

    margin-top: 60px;
}

.linguagens-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 80%;
    padding: 0px 40px;
}

.linguagens-topicos {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
    width: 300px;
    height: 400px;
    margin: auto;
    
    background: var(--white);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: 400ms;
}

.linguagens-topicos:hover{
    scale: 1.1;
    transition: 400ms;
    /* transition-delay: 400ms; */
}

.linguagens-topicos img {
    width: 100px;
    height: 100px;

    margin: 20px;
    margin-top: 20px;
}

.linguagens-topicos h2 {
    font-size: 25px;
    font-weight: 400;
    
    color: var(--blue);
    text-decoration: none;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;

    user-select: none;
}

.linguagens-topicos p{
    width: 80%;
    height: 30%;
    margin-top: 20px;
    user-select: none;
}

.linguagens-topicos a{
    color: #0CC08B;
    font-size: 18px;
    font-weight: 500;
}

.linguagens-topicos a:hover{
    text-decoration: underline;
}

/* Sessão 3 - Rodapé */
.rodape{
    gap: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    height: 200px;
    padding: 30px 50px 0px 50px;
    background: linear-gradient(122.19deg, rgba(84, 108, 165, 0.58) -84.43%, #546CA5 -15.36%, #000424 88.24%, #000424 116.5%);
}

.rodape-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    color: var(--white);
    font-family: Montserrat;
    
    width: 50vw;
    height: 200px;
    margin: 20px auto;
}

.rodape-titulo{
    padding: 10px 0px;
    font-weight: 400;
}

.rodape-links-container{
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px 0px;
}

.rodape-icone{
    width: 30px;
    height: 30px;
}
.rodape-links-container a{
    font-weight: 500;
    color: var(--white);
}
.rodape-links-container a:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1050px) {
    .slides{
        display: none;
    }
    .resumo {
        width: 100%;
    }
    .resumo-texto {
        width: 70%;
        background-color: #04412F;
    }
    .resumo-botoes{
        flex-direction: column;
        align-items: flex-start;
    }
    .resumo-botao-repositorio{
        width: 200px;
    margin: 20px 20px 0px 0px;

    }
}
@media screen and (max-width: 800px) {
    .cabecalho{
        /* height: 1080px; */
        width: 100vw;

        padding: 0px;
        margin: 0px;
        flex-direction: column;
    }

    .cabecalho-container{
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .slides{
        display: none;
    }

    .resumo-botoes{
        display: flex;
        align-items: center;
        flex-direction: column;

        margin: 0;
    }

    .menu a {
        display: none;
    }

    .menu{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    .menu h1{
        margin: auto;
        padding: auto;
        text-align: center;
    }

    .resumo{
        width: 100%;
        padding: 10px 0px;
        align-items: center;
    }

    .resumo h1{
        font-size: 25px;
        text-align: center;
    }

    .resumo-texto{
        font-size: 15px;
        text-align: center;
        
        width: 90%;
        height: 80%;
        margin-bottom: 40px;
    }

    .resumo-botao-repositorio{
        width: 200px;
        margin: 0px 0px 20px 0px;
    }

    .resumo-botao-repositorio:hover{
        background-color: var(--white);
        color: var(--blue);
        scale: 1;
    }

    .resumo-botao-repositorio h2{
        margin: 0;
    }
    

    /* SESSÃO 2 - Linguagens e Frameworks */
    .linguagens{     
        height: auto;
        padding-bottom: 30px;
    }
    .linguagens h2{     
        margin: 20px;
    }

    .linguagens-container{
        gap: 20px;
        flex-direction: column;
    }


    .linguagens-topicos{
        width: 100%;
        padding: 20px 0px;
    }
    .linguagens-topicos:hover{
        scale: 1;
    }

    .linguagens-topicos img {
        margin-top: 0px;
    }

    .linguagens h2{
        margin-bottom: 30px;
    }

    .linguagens-topicos h2 {
        margin-bottom: 0px;
    }

    .rodape{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 0px;
    }

    .rodape-container{
        margin: 0px;
        width: 100%;
        padding: 0px 50px;
    }

    .rodape-titulo{
        text-align: center;
        width: 100%;
    }
}