@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green1 :#45C09C;
    --green2 :#0CC08B;
    --green3 :#328B71;
    --green4 :#077454;
    --green5 :#04412F;

    --blue :#000424;

    --white:#f2f2f7;   
}

/* Sessao 1 */
.header{
    color: var(--white);
    font-family: Montserrat;

    display: flex;
    flex-direction: column;
    
    height: 535px;
    width: 100vw;
}

.header-img {
    z-index: -1;
    position: absolute;

    width: 100%;
    margin: 0;
    height: 720px;

}
 .menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    height: 100px;
    padding: 20px 0px;
}

.menu h1 {
    font-size: 25px;
    font-weight: 300;
    margin-left: 40px;
}

.menu nav {
    display: flex;
    align-items: baseline;
    flex-direction: row;    

    margin-right: 40px;
}
.menu a {
    font-size: 18px;
    font-weight: 300;
    color: var(--white);

    margin: 0px 20px 0px 20px;
}

.menu a:hover {
    text-decoration: underline;
    scale: 1.05;
} 

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    
    padding: 40px 40px;
}

.resumo{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    font-family: Montserrat;
    width: 50%;
    height: 100%;
}

.resumo-titulo{
    font-size: 25px;
    font-weight: 400;
}

.resumo-texto{
    font-size: 16px;
    width: 40vw;
    padding: 20px 0px;
    font-weight: 100;
    height: 150px;
}

.resumo-botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resumo-botao-repositorio{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items:center ;
    gap: 10px;
    width: 15vw;
    background-color: var(--white);
    padding: 5px;
    border-radius: 40px;
    margin: 5px;
}

.resumo-botao-repositorio img{
    height: 30px;
    width: 30px;
}

.resumo-botao-repositorio h2{
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/* SESSÃO 2 - Linguagens e Frameworks */
.linguagens {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: Montserrat;

    height: 680px;
    background-color: var(--white);
}

.linguagens h2 {
    font-size: 40px;
    font-weight: 400;

    color: var(--blue);
    text-align: center;
    text-decoration: underline;

    margin-top: 60px;
}

.linguagens-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 80%;
    padding: 0px 40px;
}

.linguagens-topicos {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
    width: 300px;
    height: 400px;
    margin: auto;
    
    background: var(--white);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.linguagens-topicos:hover{
    scale: 1.1;
    transition: 400ms;
}

.linguagens-topicos img {
    width: 100px;
    height: 100px;

    margin: 20px;
    margin-top: 20px;
}

.linguagens-topicos h2 {
    font-size: 25px;
    font-weight: 400;
    
    color: var(--blue);
    text-decoration: none;

    width: 100%;
    margin-top: 20px;
    margin-bottom: 0px;
    user-select: none;
}

.linguagens-topicos p{
    width: 80%;
    height: 30%;
    margin-top: 20px;
    user-select: none;
}

.linguagens-topicos a{
    color: #0CC08B;
    font-size: 18px;
    text-decoration: underline;
}

.linguagens-topicos a:hover{
    scale: 1.05;;
}

@media screen and (max-width: 800px) {
    /* .header{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .header-container{
        flex-direction: column;
        align-items: center;
    }

    .btn-repos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    } */
    .menu a {
        display: none;
    }
    .menu{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .menu h1{
        text-align: center;
        padding: auto;
        margin: auto;
    }
    .resumo{
        width: 100%;
        padding: 10px 50px;
        /* align-items: center; */
    }
    .resumo h1{
        font-size: 25px;
        text-align: center;
    }
    .resumo h2{
        font-size: 15px;
        width: 100%;
       text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .ilustracao-header{
        display: none;
    }
    .botao-para-repositorio{
        width: 100%;
        /* margin: auto; */

    }
    .botao-para-repositorio h2{
        padding: 10px;
        width: 90%;
        color: var(--blue);
        text-align: center;
        margin-left: 90px;
        height: 100%;
        margin: auto;
        font-size: 32px;
        font-weight: 500;
    }

    /* SESSÃO 2 - Linguagens e Frameworks */
    .linguagens{
        height: auto;
    }
    .linguagens-container{
        flex-direction: column;
        gap: 20px;
    }
    .linguagens-topicos{
        width: 100%;
        padding: 20px 0px;
    }
    .linguagens-topicos img {
        margin-top: 0px;
    }
    .linguagens h2{
        margin-bottom: 30px;
    }
    .linguagens-topicos h2 {
        margin-bottom: 0px;
    }
    
}