@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green1 :#45C09C;
    --green2 :#0CC08B;
    --green3 :#328B71;
    --green4 :#077454;
    --green5 :#04412F;

    --blue :#000424;

    --white:#f2f2f7;   
}

/* Sessao 1 */
.header{
    color: var(--blue);
    height: 660px;
}

.img-equipe-desenvolvedores{
    width: 100%;
    height: 100%;
    
    position: absolute;
    z-index: -1;
}


.header-menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
    height: 80px;
    background-color: var(--white);
}

.header-menu-titulo{
    font-family: Montserrat;
    font-weight: 500;
}

.header-menu-navegacao{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
}

.header-resumo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 30%;
    height: 60%;
    margin: auto;
    padding: 10px;

    color: var(--white);
    font-size: 20px;
    text-align: center;
}

.header-resumo-leiamais{
    border: none;
    border-radius: 40px;
    background-color: #0CC08B;

    width: 150px;
    height: 40px;
    
    color: var(--white);
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
}

/* Sessao 2 */
.s2{
    background: linear-gradient(144.05deg, #077454 6.06%, #077454 34.01%, #0CC08B 59.8%, #45C09C 88.61%);

    height: 500px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.s2-titulo{
    color: var(--white);
    font-size: 40px;
    text-align: center;
    font-family: Roboto;

    height: 80px;
    margin-top: auto;
}

.s2-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    width: 90%;
    height: 80%;
    
    border-radius: 50px 50px 0px 0px;
    background-color: var(--white);
}

.s2-container-topico{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: auto;
    
    width: 25%;
    height: 80%;
}

.s2-container-topico p{
    width: 80%;
    text-align: center;
}

.s2-container-img{
    background: linear-gradient(301.63deg, #45C09C 1.15%, #0CC08B 49.13%, #328B71 125.64%);
    backdrop-filter: blur(50px);;
    border-radius: 50%;
    
    height: 100px;
    width: 100px;
    
    align-items: center;
}

/* Sessao 3 */
