
/* Slide Show */
.projetos{
    margin-top: 50px;
}
.projetos h2{
    font-family: Montserrat;
    font-weight: 500;
    align-items: center;
    color: var(--white);
    text-align: center;
    font-size: 30px;
}

.meus-projetos{
    width: 80%;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 20px 0px 0px 0px;
    margin: auto;
}

.meus-projetos-container{
    width: 65vw;
    height: 70vh;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 20px 30px black;
    border-radius: 10px;
}

.meus-projetos-container-itens {
    width: 65vw;
    height: 70vh;


    display: flex;
    position: absolute;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

.meus-projetos-item {
    width: 65vw;
    height: 70vh;

    transition: all 1s;
}


.meus-projetos-item:first-child{
    margin-left: -100%;
}

.meus-projetos-item img {
    width: 65vw;
    height: 70vh;

    border-radius: 10px;
}

.meus-projetos-botao-mover{
    width: 50px;

    font: bold 30px sans-serif;
    color: #444444b4;
    align-items: center;

    display: flex;
    justify-content: center;

    z-index: 1;
    user-select: none;
}

.meus-projetos-botao-mover:hover {
    color: #444444b4;
    cursor: pointer;
    transition:  all 1s;

    border-radius: 10px;
    background-color: #f2f2f28c;
}

@media screen and (max-width: 800px) {
    .projetos{
        display: none;
    }
}