:root{
    --green1 :#45C09C;
    --green2 :#0CC08B;
    --green3 :#328B71;
    --green4 :#077454;
    --green5 :#04412F;

    --blue  :#000424;
    --blue1 :#546CA5;
    --blue2 :#869ED7;
    --blue3 :#B4C7F0;

    --white:#f2f2f7;   
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;

    height:30vh;
    padding: 0px 25px;

    /* background-color: var(--white); */
    background: rgba(30, 30, 30, 0.11);
    backdrop-filter: blur(2px);
}

.rodape-background{
    width: 30%;
    height: 90%;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    
    margin: auto;

    border-radius: 25px;
    /* background-color: var(--white); */
}

.rodape-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    color: var(--white);
    font-family: Montserrat;
    
    width: 80%;
    height: 80%;
    margin-left: 40px;
}

.rodape-titulo{
    padding: 10px 0px;
    font-weight: 400;
    color: var(--white);
}

.rodape-links-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    
    gap: 15px;
    padding: 10px 0px;
}

.rodape-icone{
    width: 30px;
    height: 30px;
}

.rodape-links-container a{
    font-weight: 500;
    color: var(--white);
}

.rodape-links-container a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--green1);
}

@media screen and (max-width: 800px) {
    .rodape{
        flex-direction: column;
        align-items: center;

        width: 100%;
        height:75vh;
        
        gap: 20px;
        margin: auto;
        padding: 25px 0px;

        /* background-color: var(--white); */
    }
    
    .rodape-background{
        flex-direction: column;
        height: 90%;
        width: 90%;
    }

    .rodape-container{
        width: 100%;
        margin: 0px;
        align-items: left;
    }

    .rodape-titulo{
        width: 100%;
        text-align: center;
    }
    
    .rodape-links-container{
        align-items: center;
    }
}